# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
desktop.ini

# Dart & Flutter tools & builds
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
doc/api/
*.info.json

# Avoid committing generated JavaScript files:
*.dart.js
*.js
*.js_
*.js.deps
*.js.map

# Dependencies lockfile (omitted for plugins/packages)
pubspec.lock

# Environment variables
.env*

# Flutter Version Manager
.fvm/

# IDE & Editor files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Android native build files
.gradle/
local.properties
**/android/**/.gradle/
**/android/**/build/
**/android/**/captures/
**/android/**/.cxx/
**/android/**/local.properties

# iOS / macOS native build files
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/xcuserdata/
**/ios/**/DerivedData/
**/ios/**/.build/
**/ios/**/profile

# Example app runner platform folders
example/android/
example/ios/
example/linux/
example/macos/
example/windows/
example/web/
example/build/
example/.dart_tool/
example/.flutter-plugins*
example/pubspec.lock
